form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    background-color: #d0d1d7;
    padding: 80px;
    border-radius: 20px;
}

h2{
    margin-bottom: 20px;
}

span{
    margin-top: 10px;
}

input, button{
    border: none;
    border-radius: 5px;
}

button:disabled{
    background-color: #494949;
    color: #b7b7b9;
    cursor: not-allowed;
}

mat-form-field{
    margin-bottom: 10px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e2e3e4;
    height: 100vh;
}


