form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    background-color: #a00098;
    padding: 80px;
    border-radius: 20px;
    color: #fff;
}

h2{
    margin-bottom: 20px;
}

span{
    margin-top: 10px;
}

input, button{
    border: none;
    border-radius: 5px;
    
}

button{
    --mdc-filled-button-container-color: #2f2e43;
    --mdc-filled-button-label-text-color: #fff;
}

button:hover{
    background-color: #272637;
}

button:disabled{
    background-color: #ababad;
    cursor: not-allowed;
}

mat-form-field{
    margin-bottom: 10px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e2e3e4;
    height: 100vh;
}


