main{
    display: flex;
    margin: 50px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: space-between;

    .login{
        background-color: #a00098;
        width: 40%;
        color: #fff;
        padding: 20px;
        border-radius: 0px 20px 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        align-items: center;

        .form{
            display: flex;
            flex-direction: column;

            span, button{
                margin-bottom: 5px;
                margin-top: 20px;
            }

            button{
                --mdc-filled-button-container-color: #2f2e43;
                --mdc-filled-button-container-shape: 5px;
                --mdc-filled-button-label-text-color: #ffff;
            }

            button:disabled{
                background-color: #ababad;
                cursor: not-allowed;
            }
        }
        
        p{
            margin-top: 15px;
            a{
                color: #95caff;
            }
        } 
    }

    img{
        padding: 20px;
    }
}

.principal{
    background-color: #e2e3e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    img{
        display: none !important;
    }

    .login{
        width: 100% !important;
        border-radius: 20px !important;
    }
}